body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}
.header {
  display: flex;
  background-color: #F2B80C;
  align-items: center;
  justify-content: center;
}
.icon {
  
  width: 3rem;
  height: 3.3rem;
  right: 1rem;
  margin-right: auto;
  
}

h1 {
  padding: .77rem 0;
  background-color: #F2B80C;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
  margin-right: auto;
  
  
  
}

h1 .highlight {
  color: #010C3F;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url('./background.jpg');
  background-size:contain;
  background-position:top;
  background-repeat: repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  padding-top: 50px;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}